---
version: 2
groups:
- name: pe2019
  config:
    transport: ssh
  targets:
  - pe2019 
- name: cd4pe
  config:
    transport: ssh
  targets:
  - cd4pe 
- name: centos8-client1
  config:
    transport: ssh
  targets:
  - centos8-client1 
- name: centos8-client2
  config:
    transport: ssh
  targets:
  - centos8-client2 
- name: cd4pe-jobhw
  config:
    transport: ssh
  targets:
  - cd4pe-jobhw 

config: 
  transport: ssh
  ssh:
   user: foo
   run-as: root
   password: bar
